<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LiteDBFileName" value="Data.db" />
    <add key="ZMQPublisherRawTX" value="tcp://chainstore:28332" />
    <add key="ZMQPublisherRawBlock" value="tcp://chainstore:28333" />
    <add key="WebSocketListen" value="ws://0.0.0.0:8181" />
    <add key="RPCURI" value="http://chainstore:58332" />
    <add key="RPCUsername" value="localrpc" />
    <add key="RPCPassword" value="PASSWORD_HERE" />
  </appSettings>
</configuration>
